parameters:
    level: 5

    paths:
        - src

    ignoreErrors:
        - '#Method [a-zA-Z0-9\\]+::[a-zA-Z0-9]+\(\) should return [a-zA-Z0-9\\]+ but returns Ycs77\\NewebPay\\Results\\Result\.#'
